Implementation
7-knn/dataset/*
7-knn/__pycache__
9-Optimization_methods/dataset
9-Optimization_methods/__pycache__
10-NN_fundamentals/__pycache__
10-NN_fundamentals/nnet.py
11-Convolutional_neural_networks/.pylintrc
12-Training_CNNs/dataset
12-Training_CNNs/__pycache__
13-Saving_loading_models/dataset
13-Saving_loading_models/__pycache__
14-LeNet/__pycache__
15-MiniVGGNet/__pycache__
15-MiniVGGNet/minivggnet_cifar10_model.hdf5
16-Learning_rate_schedulers/__pycache__
16-Learning_rate_schedulers/minivggnet_cifar10_model_lrs_0_25.hdf5
16-Learning_rate_schedulers/minivggnet_cifar10_model_lrs_0_5.hdf5
17-Underfitting_Overfitting/__pycache__
17-Underfitting_Overfitting/minivggnet_cifar10_model_lrs_0_5.hdf5
18-Ckeckpointing_models/__pycache__
18-Ckeckpointing_models/checkpoints
18-Ckeckpointing_models/history.png
18-Ckeckpointing_models/tensorboard_monitoring
18-Ckeckpointing_models/cifar10.hdf5
19-Visualizing_network/__pycache__
21-Case_study/dataset
21-Case_study/download
21-Case_study/output
21-Case_study/__pycache__
21-Case_study/tensorboard_monitoring
21-Case_study/checkpoints
21-Case_study/test
22-Smile_detection_video/dataset
22-Smile_detection_video/__pycache__
22-Smile_detection_video/tensorboard
22-Smile_detection_video/output/*.hdf5
